
<form align="center">
    <div ng-hide="signedIn()">
        
        <h1 ng-hide="crearUsuarioMode">Bienvenidos<br>a<br>Easy Q</h1><br>

        <p ng-hide="crearUsuarioMode" class="lead">Easy Q es un producto del tipo Quiz diseñado para crear de manera rápida y fácil preguntas de elección única o múltiple.</p>

        <img ng-hide="crearUsuarioMode" class="image-default" src="images/easy-q.png">

        <h3>¿Que Quieres Hacer Hoy?</h3>

        <table border="0" width="100%">
            <tr>
                <td align="center" valign="top">
                    <button ng-click="responderMode = false" ng-hide="crearUsuarioMode" class="button-option btn btn-primary">Crear<br>Test</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button ng-click="responderMode = true" ng-hide="crearUsuarioMode" class="button-option btn btn-primary">Responder<br>Test</button>
                </td>
            </tr>
        </table><br>    

        <div ng-cloak ng-show="responderMode" class="control-group">
        	<input id="idTest" type="text" name="idTest" class="form-control text-center" placeholder="ID de Test" ng-model="idTest" ng-show="responderMode"><br>

            <button ng-click="quizUser()" ng-show="responderMode" class="btn btn-lg btn-success">Ingresar</button>
        </div><br>
    </div>
    
    <div ng-show="signedIn()">
        <h1>Bienvenido {{currentUser.username}}</h1><br>
        
        <p class="lead">En tu cuenta podras crear, editar y eliminar tus test. Con el ID de cada test, podras realizar evaluaciones a grupos de personas, para tener datos concretos de lo aprendido.</p><br>
        
        <h2>Ahora puedes ingresar a <a href="#/category">Categorias</a> para comenzar.</h2><br>

        <h3>Tutorial de Easy Q</h3><br>

        <div style="text-align: center">
            <video src="http://uranio.tide.cl/deasyq/video/AngularFire.mp4" poster="images/video.png" controls="controls" width="500" height="250" preload="none"></video>
        </div>

    </div><br>

</form>