.content {
    width: 100%;
}
.link-color {
  color: #ffffff;
}
.button-option {
  width:150px;
}
.icons-flags {
  width: 25px;
  height: 25px; 
}
.icons-social {
  width: 60px;
  height: 60px; 
}
.image-default {
  width: 360px;
  height: 200px; 
}
/* Form Default */
.form-default {
  max-width: 80%;
  margin: 0 auto;
}
/* Form Inicio de Sesión */
.form-signin {
  max-width: 80%;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}